@media (width <= 1190px) {
  .slide-content {
    margin-top: 3rem;
  }

  .slide-content .slide-heading {
    font-size: 5rem;
    line-height: 6rem;
    width: 50%;
  }
}

@media (width <= 1130px) {
  .toggle-btn,
  .search-icon-wrapper,
  .menu-bar {
    display: block;
  }

  .navbar,
  .searchBar {
    display: none;
  }

  .show-sideBar .menu-bar {
    display: none;
  }
  .show-sideBar .cancel-btn {
    display: block;
  }
}

@media (width <= 1100px) {
  .dbl-1 {
    display: none;
  }
  .dbl-2 {
    display: block;
  }
  .slide-img img {
    object-fit: cover;
  }
  .slide-feature-item {
    width: 100%;
  }
}

@media (width <= 1015px) {
  .sideBar-container {
    grid-template-columns: 0.8fr 2fr;
  }
  .sideBar-links,
  .sideBar-feature {
    padding: 2rem;
  }

  .sideBar-links a {
    font-size: 1.4rem;
  }

  .sideBar-container :is(.col-three, .col-four) {
    display: none;
  }
  .sideBar-img {
    height: 30rem;
  }
}

@media (width<=980px) {
  .slide-content .slide-heading {
    line-height: 6rem;
  }
}
@media (width <= 900px) {
  .container .section {
    padding: 2rem;
  }
  .slide-content .slide-heading {
    font-size: 4rem;
  }
}

@media (width <= 800px) {
  .sideBar-feature {
    display: none;
  }
  .sideBar-container {
    grid-template-columns: 1fr;
    overflow-y: scroll;
  }

  .sideBar-links {
    padding-bottom: 5rem;
  }
  .sideBar-links:before {
    position: absolute;
    left: 50%;
    bottom: 5%;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    height: 0.2rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .sideBar-links > a {
    height: 3rem;
  }
  .sideBar-links > a i {
    display: block;
  }
  .slide-features {
    align-items: start;
    flex-direction: column;
  }
  .slide-feature-item {
    padding-bottom: 1rem;
  }
  .slide-feature-item::after {
    display: none;
  }
  .slide-feature-item::before {
    position: absolute;
    top: 0%;
    left: 0%;
    content: "";
    width: 90%;
    height: 0.2rem;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .slide-feature-item span {
    font-size: 1.4rem;
  }

  .slide-feature-item p {
    margin-top: 3rem;
    gap: 1.5rem;
  }
}

@media (width <= 650px) {
  .slide-content :is(.slide-heading, .slide-description) {
    width: 100%;
  }
  .slide-content .slide-heading {
    line-height: 5rem;
  }
  .slide-content {
    margin-top: 1rem;
  }
}
