* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --mainColor: rgb(216, 57, 51);
  --textColor: #b9b9bb;
  --iconBg: #2e2e32;
  --bg-gradient: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

html {
  font-size: 62.5%;
}

a {
  color: white;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols {
  grid-template-columns: 2fr 1fr 1fr;
}
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

.main-container,
.header,
.sideBar-container {
  max-width: 1440px;
}

.section {
  padding: 0 3rem;
}
.container {
  margin-top: 8rem;
}

.container .section {
  padding: 2rem 3rem;
}

.d-flex {
  display: flex;
}
.dir-col {
  flex-direction: column;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}
.jc-start {
  justify-content: start;
}

.al-center {
  align-items: center;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-center {
  text-align: center;
}
.txt-cap {
  text-transform: capitalize;
}
.txt-up {
  text-transform: uppercase;
}
.p-relative {
  position: relative;
}
.p-absolute {
  content: "";
  position: absolute;
}

.m-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}

.overflow-h {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.live-btn {
  padding: 0.3rem;
  border: 1px solid var(--mainColor);
  font-size: 1rem;
  letter-spacing: 3px;
}
.link-wrapper:nth-of-type(3):hover > a .live-btn {
  background-color: var(--mainColor);
  color: #fff;
}

.navbar > a {
  border: 1px solid red;
}

.menu-item {
  gap: 1rem;
}

.transition-3 {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

/*!================= header styling =================*/
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header {
  background-color: #000;
  height: 8rem;
}

/*?==== toggle btns styling ====*/

.toggle-btn,
.search-icon-wrapper {
  color: #fff;
  font-size: 2rem;
}
.searchBar input {
  font-size: 1.8rem;
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/*?==== sideBar container styling ====*/
.sideBar-container {
  top: 100%;
  left: 0%;
  background-color: black;
  color: #fff;
  width: 100%;
  height: calc(100vh - 6rem);
  opacity: 0%;
  visibility: hidden;
  z-index: -2;
}

.show-sideBar .sideBar-container {
  opacity: 1;
  visibility: visible;
}
/**=== side bar btn ===*/

.angle-down {
  border: 1px solid #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.angle-down i {
  font-size: 0.8rem;
}

.show-sideBar .angle-down i {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}
/**=== sideBar links ===*/

.sideBar-links,
.sideBar-feature {
  padding: 4rem 2rem;
}
.sideBar-links {
  gap: 1.5rem;
}
.sideBar-links:after {
  position: absolute;
  right: 0%;
  top: 50%;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  width: 0.2rem;
  height: 90%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.sideBar-links > a {
  font-size: 1.6rem;
}

.sideBar-links .sideBar-link-angle {
  width: 10%;
  float: right;
}

.sideBar-links > a i {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
/**==== sideBar Images ====*/
.sideBar-feature {
  gap: 2rem;
  overflow-y: scroll;
}

.sideBar-feature::-webkit-scrollbar {
  display: none;
}

.sideBar-img {
  height: 30rem;
}

.sideBar-feature-tag {
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

.sideBar-feature p {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.sideBar-bedge {
  font-size: 1rem;
  gap: 1rem;
}

.sideBar-bedge .bedge-wrapper {
  border: 1px solid white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.sideBar-bedge i {
  font-size: 0.7rem;
}
/*?==== mix styling ====*/

.searchBar,
.navbar,
.sideBar-btn {
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}
.logo {
  width: 6rem;
}
/*?==== subMenu links styling ====*/

.navbar a {
  color: #fff;
  display: inline-block;
}

.link-wrapper > a {
  padding: 1.5rem 1rem;
  border: 5px solid transparent;
}

.show > a {
  border-color: #186dee;
}

.link-wrapper > a i {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.show > a i {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

.link-wrapper .subMenu {
  top: 100%;
  right: 0%;
  background-color: black;
  width: 300px;
  height: 500px;
  padding: 3rem 2rem;
  gap: 2rem;
  z-index: -1;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  visibility: hidden;
}

.show .subMenu {
  visibility: visible;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.subMenu-heading h2 {
  gap: 3rem;
}

.subMenu-heading h2 i {
  font-size: 1.3rem;
  background-color: var(--mainColor);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
/*!================= hero styling =================*/
.main-container {
  z-index: -4;
}

.slide-img,
.slide-layer {
  z-index: -5;
}
.slide-img {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-img img {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.slide-layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-gradient);
}

.slide-content {
  color: white;
  margin-top: 6rem;
}

.slide-content .slide-heading {
  font-size: 7rem;
  line-height: 8rem;
}

.slide-content .slide-description {
  font-size: 1.6rem;
  line-height: 2.9rem;
  margin: 1rem 0 3rem;
}

.slide-content button {
  background-color: var(--mainColor);
  color: #fff;
  font-size: 2.3rem;
  width: fit-content;
  padding: 1rem 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.slide-features {
  color: #fff;
  padding: 3rem 0;
}

.slide-feature-item {
  width: 23%;
  padding-top: 2.5rem;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-slide-wrapper .slide-feature-item {
  border: none;
}

.slide-feature-item span {
  font-size: 1rem;
  letter-spacing: 4px;
  font-family: "DM Sans", sans-serif;
}

.slide-feature-item p {
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  gap: 0.7rem;
}

.slide-feature-item p i {
  background-color: var(--mainColor);
  font-size: 1.1rem;
  rotate: -30deg;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slide-media-btn {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  margin-right: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.slide-media-btn img {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
