* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --mainColor: rgb(216, 57, 51);
  --textColor: #b9b9bb;
  --iconBg: #2e2e32;
  --bg-gradient: linear-gradient(40deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

html {
  font-size: 62.5%;
}

a {
  color: white;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-wide-two-cols {
  grid-template-columns: 1fr 2fr;
}
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

.main-container,
.header,
.sideBar-container {
  max-width: 1440px;
}

.section {
  padding: 0 3rem;
}

.container .section {
  padding: 5rem 7rem;
}

.d-flex {
  display: flex;
}
.dir-col {
  flex-direction: column;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}
.jc-start {
  justify-content: start;
}

.al-center {
  align-items: center;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-center {
  text-align: center;
}
.txt-cap {
  text-transform: capitalize;
}
.txt-up {
  text-transform: uppercase;
}
.p-relative {
  position: relative;
}
.p-absolute {
  content: "";
  position: absolute;
}

.m-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}

.overflow-h {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.live-btn {
  padding: 0.3rem;
  border: 1px solid var(--mainColor);
  font-size: 1rem;
  letter-spacing: 3px;
}
.link-wrapper:nth-of-type(3):hover > a .live-btn {
  background-color: var(--mainColor);
  color: #fff;
}

.menu-item {
  gap: 1rem;
}

.transition-3 {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.lb-box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*!================= header styling =================*/

.header {
  background-color: #000;
  height: 8rem;
}

.header-container,
.header {
  z-index: 9;
}

/*?==== toggle btns styling ====*/

.toggle-btn,
.search-icon-wrapper {
  color: #fff;
  font-size: 2rem;
}
.searchBar input {
  font-size: 1.8rem;
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/*?==== sideBar container styling ====*/
.sideBar-container {
  top: 100%;
  left: 0%;
  background-color: black;
  color: #fff;
  width: 100%;
  height: calc(100vh - 6rem);
  opacity: 0%;
  visibility: hidden;
  z-index: 5;
}

.show-sideBar .sideBar-container {
  opacity: 1;
  visibility: visible;
}
/**=== side bar btn ===*/

.angle-down {
  border: 1px solid #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.angle-down i {
  font-size: 0.8rem;
}

.show-sideBar .angle-down i {
  transform: rotateX(180deg);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}
/**=== sideBar links ===*/

.sideBar-links,
.sideBar-feature {
  padding: 4rem 2rem;
}
.sideBar-links {
  gap: 1.5rem;
}
.sideBar-links:after {
  position: absolute;
  right: 0%;
  top: 50%;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  width: 0.2rem;
  height: 90%;
  transform: translateY(-50%);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}

.sideBar-links > a {
  font-size: 1.6rem;
}

.sideBar-links .sideBar-link-angle {
  width: 10%;
  float: right;
}

.sideBar-links > a i {
  transform: rotate(270deg);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}
/**==== sideBar Images ====*/
.sideBar-feature {
  gap: 2rem;
  overflow-y: scroll;
}

.sideBar-feature::-webkit-scrollbar {
  display: none;
}

.sideBar-img {
  height: 30rem;
}

.sideBar-feature-tag {
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

.sideBar-feature p {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.sideBar-bedge {
  font-size: 1rem;
  gap: 1rem;
}

.sideBar-bedge .bedge-wrapper {
  border: 1px solid white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.sideBar-bedge i {
  font-size: 0.7rem;
}
/*?==== mix styling ====*/

.searchBar,
.navbar,
.sideBar-btn {
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}
.logo {
  width: 6rem;
}
/*?==== subMenu links styling ====*/

.navbar a {
  background-color: #000;
  z-index: 999;
  color: #fff;
  display: inline-block;
}

.link-wrapper > a {
  padding: 1.5rem 1rem;
  border: 5px solid transparent;
}

.show > a {
  border-color: #186dee;
}

.link-wrapper > a i {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.show > a i {
  transform: rotateX(180deg);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}

.link-wrapper .subMenu {
  top: 100%;
  right: 0%;
  background-color: black;
  width: 300px;
  height: 500px;
  padding: 3rem 2rem;
  gap: 2rem;
  z-index: 6;
  transform: translateY(-100%);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
  visibility: hidden;
}

.show .subMenu {
  visibility: visible;
  transform: translateY(0%);
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}

.subMenu-heading h2 {
  gap: 3rem;
}

.subMenu-heading h2 i {
  font-size: 1.3rem;
  background-color: var(--mainColor);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
/*!================= hero styling =================*/
.main-container {
  z-index: -1;
}

.container .hero-section {
  padding: 1rem 3rem;
}

.feature-btn-wrapper .slide-feature-item {
  width: 100%;
}

.layer-img,
.layer {
  z-index: -5;
}
.layer-img {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layer-img img {
  object-fit: cover;
}

.layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-gradient);
}

.slide-content {
  color: white;
  margin-top: 6rem;
}

.slide-content .slide-heading,
.internship-heading {
  font-size: 7rem;
  line-height: 8rem;
  width: 40%;
}

.slide-content .slide-description,
.internship-description {
  font-size: 1.6rem;
  line-height: 2.9rem;
  margin: 1rem 0 3rem;
  width: 50%;
}

.slide-content button {
  background-color: var(--mainColor);
  color: #fff;
  font-size: 2.3rem;
  width: fit-content;
  padding: 1rem 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.slide-features {
  color: #fff;
  padding: 3rem 0;
}

.slide-feature-item {
  width: 23%;
  padding-top: 2.5rem;
  height: 100%;
}

.slide-feature-item::after {
  position: absolute;
  top: 0%;
  left: 0%;
  content: "";
  width: 90%;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.slide-mobile-btn {
  padding: 0rem;
}

.slide-mobile-btn::after {
  display: none;
}

.slide-feature-item span {
  font-size: 1rem;
  letter-spacing: 4px;
  font-family: "DM Sans", sans-serif;
}

:is(.slide-feature-item, .featured-news-heading, .internship-content) p {
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  gap: 0.7rem;
}

:is(.slide-feature-item, .featured-news-heading, .internship-content) p i,
:is(.day-bedge, .special-bedge) i {
  color: #fff;
  background-color: var(--mainColor);
  font-size: 1.1rem;
  rotate: -30deg;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slide-media-btn {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  margin-right: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*!================= features styling =================*/
/*?=== featured news heading ===*/
.featured-news-heading h2 {
  font-size: 4.5rem;
}

.featured-news-heading p {
  font-size: 2.2rem;
  letter-spacing: 0px;
}

/*?=== featured news content styling ===*/

.featured-news-content {
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.featured-news-item {
  color: #fff;
  padding: 3rem 2rem;
  height: 45rem;
}
.featured-1 {
  flex: 2 1;
}
.featured-2,
.featured-3 {
  flex: 1 1;
}
.featured-3 {
  padding: 0;
  gap: 1rem;
}

.sub-featured {
  padding: 2rem 1rem;
  height: 100%;
}

.featured-news-tag,
.bedge {
  font-size: 1.1rem;
  letter-spacing: 2px;
  gap: 1rem;
}
.featured-news-tag i {
  font-size: 1rem;
  border: 1px solid white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
:is(.featured-item-content, .featured-tag-content) p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

/*?=== featured news tags styling ===*/
.featured-news-tags {
  margin-top: 5rem;
}

.featured-tag-item {
  gap: 2rem;
}

.featured-tag-img {
  width: 8rem;
  height: 7rem;
}
.featured-tag-img,
.featured-tag-img img {
  border-radius: 50%;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  object-fit: cover;
}
.featured-tag-content {
  width: 80%;
}

.featured-tag-item .featured-news-tag i {
  border-color: #000;
}

.featured-tag-content p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 550;
}
/*!================= insternship section styling =================*/

.internship-container {
  color: #fff;
  height: 80rem;
}
.internship-content {
  padding-top: 30rem;
}

.internship-content p {
  line-height: 2.5rem;
  font-weight: 500;
  font-size: 1.6rem;
}
.internship-content .internship-btn {
  font-size: 2.5rem;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 1rem 0 2rem;
}

/*!================= insternship section styling =================*/
.day-container,
.special-container {
  gap: 4rem;
  margin-top: 3rem;
}
:is(.day-content, .day-img, .special-content) h2 {
  font-size: 4rem;
  margin: 2rem 0 4rem;
}
.day-sub-heading {
  font-size: 2.2rem;
  font-weight: bold;
}

.day-description,
.special-description {
  margin: 2rem 0 3rem;
  font-size: 1.6rem;
  line-height: 2.7rem;
}
.day-bedge,
.special-bedge {
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}
:is(.day-bedge, .special-bedge) i {
  rotate: 0deg;
}
.day-img {
  overflow: hidden;
}

.special-container {
  background-color: #000;
  color: #fff;
}
